{:paths ["src"]
 :deps
 {com.stuartsierra/component    {:mvn/version "1.1.0"}
  luminus/ring-undertow-adapter {:mvn/version "1.2.9"}
  teknql/wing                   {:git/url "https://github.com/teknql/wing"
                                 :git/sha "b9d72eaead50c47987d618204ac0fbeb0f7dd236"}}}
